<% form_for(@market, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </p>
  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label "Estado" %><br />
    <select id="estados" onchange="" >
      <option value="0">Selecione um estado</option>
      <%= options_from_collection_for_select(State.find(:all), 'id','acronym') %>
    </select>
  </p>
  <p>
    <%= f.label "Cidade" %><br />
    <%= select_tag "market[city_id]", ("<option value=#{@market.city.id}>#{@market.city.name}</option>" unless @market.city == nil), :disabled => false  %>

  </p>
  <p>
    <%= f.label :site_url %><br />
    <%= f.text_field :site_url %>
  </p>
  <p>
    <%= f.label 'Foto' %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <input type="button" id="btn_save_market" value="save" />
  </p>
<% end %>

  

<script type="text/javascript" >

  $().ready(function () {

    $('#pnl_msg_market').dialog({
                autoOpen: false,
                modal: true,
                title: "Adicionar mercado",
                buttons: {
                        "Ok": function() {
                                $(this).dialog("close");
                        }
                }
        });

    $("#estados").change (function () {

      $.ajax (
        {
           success: function(request) {
             $('#market_city_id').html(request);
           },
           type: 'get',
           url: '/cities/load_cities/' + $(this).val()
         }
      )
    });

  });

  $("#btn_save_market").click(function () {

      $.ajax (
        {
           success: function(request) {
             $('#pnl_msg_market').html(request);
             $('#pnl_msg_market').dialog('open');
           },
           type: 'post',
           url: '/markets/create',
           data: $.param($("#new_market").serializeArray())
         }
      );

      return false;

      }).hover(
        function(){
                $(this).addClass("ui-state-hover");
        },
        function(){
                $(this).removeClass("ui-state-hover");
        }
      ).mousedown(function(){
      $(this).addClass("ui-state-active");
      }).mouseup(function(){
      $(this).removeClass("ui-state-active");
    });

</script>