<h1>Listing ingredient_types</h1>

<input type="text" id="" name="" value="Implementar pesquisa..." /><input type="submit" value="pesquisar" /><br />

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @ingredient_types.each do |ingredient_type| %>
  <tr>
    <td><%=h ingredient_type.name %></td>
    <td><%=h ingredient_type.description %></td>
    <td><%= link_to 'Show', ingredient_type %></td>
    <td><%= link_to 'Edit', edit_ingredient_type_path(ingredient_type) %></td>
    <td><%= link_to 'Destroy', ingredient_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ingredient_type', new_ingredient_type_path %>