<h1>Listing recipe_items</h1>

<input type="text" id="" name="" value="Implementar pesquisa..." /><input type="submit" value="pesquisar" /><br />

<table>
  <tr>
    <th>Quantity</th>
  </tr>

<% @recipe_items.each do |recipe_item| %>
  <tr>
    <td><%=h recipe_item.quantity %></td>
    <td><%= link_to 'Show', recipe_item %></td>
    <td><%= link_to 'Edit', edit_recipe_item_path(recipe_item) %></td>
    <td><%= link_to 'Destroy', recipe_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recipe_item', new_recipe_item_path %>