<h1>Listing recipe_types</h1>

<input type="text" id="" name="" value="Implementar pesquisa..." /><input type="submit" value="pesquisar" /><br />

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @recipe_types.each do |recipe_type| %>
  <tr>
    <td><%=h recipe_type.name %></td>
    <td><%=h recipe_type.description %></td>
    <td><%= link_to 'Show', recipe_type %></td>
    <td><%= link_to 'Edit', edit_recipe_type_path(recipe_type) %></td>
    <td><%= link_to 'Destroy', recipe_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recipe_type', new_recipe_type_path %>