<h3>
  <%=h @profile.name %>
</h3>
<p>
  <%=h @profile.about %>
</p>
<p>
  <%=h @profile.city.name %>
</p>

<% if current_user.linked_to.rindex @profile.user %>
  <%= link_to_remote "Remove friend", :update => "result", :url => "/friends/remove_friend/" + @profile.user.id.to_s %>
<% elsif not @profile.user == current_user %>
  <%= link_to_remote "Add friend", :update => "result", :url => "/friends/add_friend/" + @profile.user.id.to_s %>
<% end %>

<span id="result"></span>


<% if can_edit_profile? @profile %>
  <input id="btn_edit_my_profile" type="button" value="Editar" class="fg-button ui-state-default ui-corner-all" />
<% end %>
