<% form_tag session_path, :id => "frm_login" do -%>
  <p>
    <label for="login">Login</label><br/>
    <%= text_field_tag 'login', "", :class => "req-string" %>
    <div id="errorDiv1" class="input-container" ></div>
  </p>

  <p>
    <label for="password">Senha</label><br/>
    <%= password_field_tag 'password' %>
  </p>

  <!-- Uncomment this if you want this functionality
  <p><label for="remember_me">Remember me:</label>
  <%= check_box_tag 'remember_me' %></p>
  -->

  <p>
    <label for="open_url">Openid</label><br/>
    <%= text_field_tag 'openid_url' %>
  </p>

  <p>
    <%= submit_tag 'Entrar', :id => "btn_login", :class => "button fg-button ui-state-default ui-corner-all" %>
  </p>
<% end -%>
