<% for ingredient in @ingredients do  %>
  <div id="new_recipe_item_<%= ingredient.id %>" >
    <input type="checkbox" name="recipe[ingredient_ids][]" value="<%=  ingredient.id %>" class="ckb_new_ingredient_item" />
    <%= link_to ingredient.name, ingredient_path(ingredient) %>
    <input type="text" name="recipe_item_quantities[]" style="display: none;" id="txt_quantity_<%= ingredient.id.to_s %>" >
    <%= select_tag "recipe_item_units[]", options_from_collection_for_select(Unit.find(:all), 'id','name'), :id => "cmb_unit_" + ingredient.id.to_s, :style => "display: none;" %>
    <br />
  </div>
<% end %>