<h1>Listing ingredients</h1>

<input type="text" id="" name="" value="Implementar pesquisa..." /><input type="submit" value="pesquisar" /><br />

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Foto</th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%=h ingredient.name %></td>
    <td><%=h ingredient.description %></td>
    <td><%=h ingredient.ingredient_type.name %></td>
    <td>
      <% if ingredient.photo.exists? then %>
        <%= image_tag ingredient.photo.url(:thumb) %>
      <% else %>
        <p>sem foto</p>
      <% end %>
    </td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ingredient', new_ingredient_path %>