<% #TODO LENNON: Remover link_to_remote %>

<script type="text/javascript" >

  $().ready(function () {

    $("#lnk_add_to_bookmarks").click (function () {

      $.ajax (
        {
           success: function(request) {
             $('#result').html(request);
           },
           type: 'post',
           url: '/bookmarks/new/<%= @recipe.id  %>'
         }
      )
    });

  });

</script>

<% if @recipe.photo.exists? then %>
  <%= image_tag @recipe.photo.url(:medium) %>
  <% else %>
  <p>sem foto</p>
<% end %>

<p>
  <b>Name:</b>
  <%=h @recipe.name %>
  <span id="result">
    <% if current_user.bookmark.bookmark_items.recipe_id_eq(@recipe.id).empty? %>
      <%= link_to_remote image_tag("/images/blank_star.png"), :update => "result", :url => "/bookmarks/new/" + @recipe.id.to_s %>
    <% else %>
      <%= link_to_remote image_tag("/images/yellow_star.png"), :update => "result", :url => "/bookmarks/destroy/" + @recipe.id.to_s %>
    <% end %>
  </span>
</p>

<p>
  <b>Description:</b>
  <%=h @recipe.description %>
</p>

<p>
  <b>Prepare mode:</b>
  <%=h @recipe.prepare_mode %>
</p>

<p>
  <b>Rendiment:</b>
  <%=h @recipe.rendiment %>
</p>

<p>
  <b>Prepare time:</b>
  <%=h @recipe.prepare_time %>
</p>

<p>
  <b>Score:</b>
  <%=h @recipe.score %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>