

<% form_for(@profile,:html => { :multipart => true }) do |f| %>
  
  <%= f.error_messages %>

  <p>
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Sobre" %><br />
    <%= f.text_area :about %>
  </p>
  <p>
    <%= f.label "Estado" %><br />
    <select id="estados" onchange="" >
      <option value="0">Selecione um estado</option>
      <%= options_from_collection_for_select(State.find(:all), 'id','acronym') %>
    </select>
  </p>
  <p>
    <%= f.label "Cidade" %><br />
    <%= select_tag "profile[city_id]", ("<option value=#{@profile.city.id}>#{@profile.city.name}</option>" unless @profile.city == nil), :disabled => false  %>

  </p>
  <p>
    <%= f.label 'Foto' %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>


<script type="text/javascript" >

  $().ready(function () {

    $("#estados").change (function () {
      $.ajax (
        {
           success: function(request) {
             $('#profile_city_id').html(request);
           },
           type: 'post',
           url: '/cities/load_cities/' + $(this).val()
         }
      )
    });

    $("#btn_save_profile").click(function () {

          $('#pnl_edit_profile').dialog('open');

          $.ajax (
            {
               success: function(request) {
                 $('#pnl_edit_profile').html(request);
               },
               type: 'get',
               url: '/profiles/<%= current_user.profile.id if logged_in?  %>/edit'
             }
          );

          return false;

          }).hover(
            function(){
                    $(this).addClass("ui-state-hover");
            },
            function(){
                    $(this).removeClass("ui-state-hover");
            }
          ).mousedown(function(){
          $(this).addClass("ui-state-active");
          }).mouseup(function(){
          $(this).removeClass("ui-state-active");
        });

  });

</script>